<div style="margin-top: 50px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <ngx-dhis2-org-unit-filter
          [orgUnitFilterConfig]="orgUnitFilterConfig"
          [selectedOrgUnitItems]="selectedOrgUnitItems"
          (orgUnitUpdate)="onOrgUnitUpdate($event, 'UPDATE')"
          (orgUnitClose)="onOrgUnitUpdate($event, 'CLOSE')"
        >
        </ngx-dhis2-org-unit-filter>
      </div>
      <div class="col-md-10">
        <div class="reports-and-data-entry">
          <mat-tab-group>
            <mat-tab label="Data entry">
              <mat-chip-list aria-label="Fish selection">
                <div class="row" style="width: 100%">
                  <div class="col-md-12">
                    <div class="type-of-form">
                      <mat-radio-button (click)="setFormType('aggregate')"
                        >Aggregate</mat-radio-button
                      >
                      <mat-radio-button (click)="setFormType('event')"
                        >Event</mat-radio-button
                      >
                      <mat-radio-button (click)="setFormType('tracker')"
                        >Tracker</mat-radio-button
                      >
                    </div>
                    <div
                      *ngIf="
                        (formsInfoEntities$ | async) &&
                        (isEvent || isAggregate || isTracker)
                      "
                      class="form-selection"
                    >
                      <select
                        *ngIf="isEvent"
                        class="form-control"
                        (change)="
                          getSelectedForm(
                            $event.target.value,
                            formsInfoEntities$
                          )
                        "
                      >
                        <option value="">Select form</option>
                        <option
                          *ngFor="
                            let form of (formsInfoEntities$ | async)[
                              selectedOuId
                            ]
                              ? (formsInfoEntities$ | async)[selectedOuId][
                                  'programs'
                                ]
                              : []
                          "
                          [value]="form.id"
                          >{{ form.name }}</option
                        >
                      </select>
                      <!-- Aggregate -->
                      <select
                        *ngIf="isAggregate"
                        class="form-control"
                        (change)="
                          getSelectedForm(
                            $event.target.value,
                            formsInfoEntities$
                          )
                        "
                      >
                        <option value="">Select form</option>
                        <option
                          *ngFor="
                            let form of (formsInfoEntities$ | async)[
                              selectedOuId
                            ]
                              ? (formsInfoEntities$ | async)[selectedOuId][
                                  'dataSets'
                                ]
                              : []
                          "
                          [value]="form.id"
                          >{{ form.name }}</option
                        >
                      </select>
                    </div>
                    <div
                      style="width: 100%"
                      *ngIf="
                        !(loaded$ | async) &&
                        (isEvent || isAggregate || isTracker)
                      "
                    >
                      <div class="mb-5">
                        <mat-progress-bar
                          mode="indeterminate"
                        ></mat-progress-bar>
                      </div>
                    </div>
                    <div style="width: 100%" *ngIf="!selectedFormReady"></div>
                    <div *ngIf="selectedFormReady" style="margin-left: 10px;">
                      <ngx-dhis2-custom-forms-entry
                        [htmlCustomForm]="htmlCustomForm"
                        [dataElements]="dataElements"
                        [formType]="formType"
                        (onCustomFormInputChange)="
                          detailsOfTheChangedValue($event)
                        "
                        [statusUpdateOnDomElement]="statusArr"
                      >
                      </ngx-dhis2-custom-forms-entry>
                    </div>
                  </div>
                </div>
              </mat-chip-list>
            </mat-tab>
            <mat-tab label="Reports">
              Reports
              <div *ngIf="loadedEvents$ | async">
                <app-report-table
                  *ngIf="tableObject && tableObject['rows']"
                  [tableObject]="
                    tableObject['rows'] ? tableObject : { rows: [] }
                  "
                ></app-report-table>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
