<div style="margin-top: 50px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <ngx-dhis2-org-unit-filter
          [orgUnitFilterConfig]="orgUnitFilterConfig"
          [selectedOrgUnitItems]="selectedOrgUnitItems"
          (orgUnitUpdate)="onOrgUnitUpdate($event, 'UPDATE')"
          (orgUnitClose)="onOrgUnitUpdate($event, 'CLOSE')"
        >
        </ngx-dhis2-org-unit-filter>
      </div>
      <div class="col-md-10">
        <div class="reports-and-data-entry">
          <mat-tab-group>
            <mat-tab label="Data entry">
              <mat-chip-list aria-label="Fish selection">
                <div class="row" style="width: 100%; padding: 15px;">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="type-of-form col-md-3">
                        <mat-radio-button (click)="setFormType('aggregate')"
                          >Aggregate</mat-radio-button
                        >
                        <mat-radio-button (click)="setFormType('event')"
                          >Event</mat-radio-button
                        >
                        <mat-radio-button (click)="setFormType('tracker')"
                          >Tracker</mat-radio-button
                        >
                      </div>
                      <div
                        *ngIf="
                          (formsInfoEntities$ | async) &&
                          (isEvent || isAggregate || isTracker)
                        "
                        class="form-selection col-md-3"
                      >
                        <select
                          style=""
                          *ngIf="isEvent"
                          class="form-control"
                          (change)="getSelectedForm($event.target.value)"
                        >
                          <option value="">Select form</option>
                          <option
                            *ngFor="
                              let form of (formsInfoEntities$ | async)[
                                selectedOuId
                              ]
                                ? (formsInfoEntities$ | async)[selectedOuId][
                                    'programs'
                                  ]
                                : []
                            "
                            [value]="form.id"
                            >{{ form.name }}</option
                          >
                        </select>
                        <!-- Aggregate -->
                        <select
                          style=""
                          *ngIf="isAggregate"
                          class="form-control"
                          (change)="
                            getSelectedAggregateForm($event.target.value)
                          "
                        >
                          <option value="">Select form</option>
                          <option
                            *ngFor="
                              let form of (formsInfoEntities$ | async)[
                                selectedOuId
                              ]
                                ? (formsInfoEntities$ | async)[selectedOuId][
                                    'dataSets'
                                  ]
                                : []
                            "
                            [value]="form.id"
                            >{{ form.name }}</option
                          >
                        </select>
                      </div>
                      <div class="col-md-3">
                        <select
                          class="form-control"
                          style="margin-top: 15px;"
                          *ngIf="
                            isAggregate &&
                            formId &&
                            (dataEntryConfigurations$ | async) &&
                            (dataEntryConfigurations$ | async)[formId]
                          "
                          (change)="getFormAttribute($event.target.value)"
                        >
                          <option>Select</option>
                          <option
                            *ngFor="
                              let attribute of (dataEntryConfigurations$
                                | async)[formId]
                                ? (dataEntryConfigurations$ | async)[formId][
                                    'attributeCategory'
                                  ]['categoryOptions']
                                : []
                            "
                            [value]="attribute.id"
                            >{{ attribute.name }}</option
                          >
                        </select>
                      </div>
                      <div class="col-md-2">
                        <select
                          class="form-control"
                          style="margin-top: 15px;"
                          *ngIf="
                            isAggregate &&
                            formId &&
                            (dataEntryConfigurations$ | async) &&
                            (dataEntryConfigurations$ | async)[formId]
                          "
                          (change)="getFormAttribute($event.target.value)"
                        >
                          <option>Select</option>
                          <option
                            *ngFor="
                              let category of (dataEntryConfigurations$
                                | async)[formId]
                                ? (dataEntryConfigurations$ | async)[formId][
                                    'category'
                                  ]['categoryOptions']
                                : []
                            "
                            [value]="category.id"
                            >{{ category.name }}</option
                          >
                        </select>
                      </div>
                    </div>
                    <div
                      style="width: 100%"
                      *ngIf="
                        !(loaded$ | async) &&
                        (isEvent || isAggregate || isTracker)
                      "
                    >
                      <div class="mb-5">
                        <mat-progress-bar
                          mode="indeterminate"
                        ></mat-progress-bar>
                      </div>
                    </div>
                    <div *ngIf="selectedFormReady" style="margin-left: 6px;">
                      <ngx-dhis2-custom-forms-entry
                        [htmlCustomForm]="htmlCustomForm"
                        [dataElements]="dataElements"
                        [formType]="formType"
                        [formId]="formId"
                        (onCustomFormInputChange)="
                          detailsOfTheChangedValue($event)
                        "
                        [statusUpdateOnDomElement]="statusArr"
                      >
                      </ngx-dhis2-custom-forms-entry>
                    </div>
                  </div>
                </div>
              </mat-chip-list>
            </mat-tab>
            <mat-tab label="Reports">
              <div *ngIf="loadedEvents$ | async">
                <app-report-table
                  *ngIf="tableObject && tableObject['rows']"
                  [tableObject]="
                    tableObject['rows'] ? tableObject : { rows: [] }
                  "
                ></app-report-table>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
